---
title: Dave Melvin Art | Concept Art
---
<div class="container">

  <h1>Concept Art</h1>
  <hr />
  <div class="grid-items">
    <a href="#image15" class="grid-item  grid-item-image grid-item-image15 lightbox">
    </a>
    <div class="lightbox-target" id="image15">
      <%= image_tag '../concept_art/Alien-Queen-Beyond-2.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image2" class="grid-item  grid-item-image2 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image2">
      <%= image_tag 'ord_teen_by_davesrightmind.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image3" class="grid-item  grid-item-image3 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image3">
      <%= image_tag 'ro_kashh_by_davesrightmind-d87l8v6.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image4" class="grid-item  grid-item-image4 lightbox">
    </a>
    <div class="lightbox-target" id="image4">
      <%= image_tag 'glacier_terror_2016_by_davesrightmind-d9ph2a1.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image5" class="grid-item  grid-item-image5 lightbox">
    </a>
    <div class="lightbox-target" id="image5">
      <%= image_tag 'bahamut_rz.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image6" class="grid-item  grid-item-image6 lightbox">
    </a>
    <div class="lightbox-target" id="image6">
      <%= image_tag 'Beast-Master-Hyenas-Flat.png' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image7" class="grid-item  grid-item-image7 lightbox">
    </a>
    <div class="lightbox-target" id="image7">
      <%= image_tag 'black_lagoon_by_davesrightmind-d9e02sj.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>

  <div class="grid-items">
    <a href="#image8" class="grid-item  grid-item-image8 lightbox">
    </a>
    <div class="lightbox-target" id="image8">
      <%= image_tag 'cancerous_v2_by_davesrightmind-d9p640c.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image9" class="grid-item  grid-item-image9 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image9">
      <%= image_tag 'deep_sea__crawler_2_by_davesrightmind-d7z8g0c.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image10" class="grid-item  grid-item-image10 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image10">
      <%= image_tag 'dsailback_by_davesrightmind-da2kljq.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image11" class="grid-item  grid-item-image11 lightbox">
    </a>
    <div class="lightbox-target" id="image11">
      <%= image_tag 'forbidden_world_tribute_by_davesrightmind-d9j9xxo.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image12" class="grid-item  grid-item-image12 lightbox">
    </a>
    <div class="lightbox-target" id="image12">
      <%= image_tag 'lava_spewer_3_by_davesrightmind-d8d0s67.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image13" class="grid-item  grid-item-image13 lightbox">
    </a>
    <div class="lightbox-target" id="image13">
      <%= image_tag 'floating_bony_shrieker_4_by_davesrightmind-da3b5jt.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image14" class="grid-item  grid-item-image14 lightbox">
    </a>
    <div class="lightbox-target" id="image14">
      <%= image_tag 'alice_meets_the_king_of_the_tulgey_wood_by_davesrightmind-d8y82h3.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>

</div>
