---
title: Dave Melvin Art | Concept Art
---
<div class="container">

  <h1>Concept Art</h1>
  <hr />
  <div class="grid-items">
    <a href="#image15" class="grid-item  grid-item-image grid-item-image15 lightbox">
    </a>
    <div class="lightbox-target" id="image15">
      <%= image_tag '../concept_art/Alien-Queen-Beyond-2.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image16" class="grid-item  grid-item-image16 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image16">
      <%= image_tag '../concept_art/Ankle_Biters2.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image17" class="grid-item  grid-item-image17 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image17">
      <%= image_tag '../concept_art/Colony-Matriarch-Color.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image18" class="grid-item  grid-item-image18 lightbox">
    </a>
    <div class="lightbox-target" id="image18">
      <%= image_tag '../concept_art/Death-Worm-Model-Sheet.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image19" class="grid-item  grid-item-image19 lightbox">
    </a>
    <div class="lightbox-target" id="image19">
      <%= image_tag '../concept_art/DirtyStatues.png' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image20" class="grid-item  grid-item-image20 lightbox">
    </a>
    <div class="lightbox-target" id="image20">
      <%= image_tag '../concept_art/Goblin-Gatling-May-2016.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image21" class="grid-item  grid-item-image21 lightbox">
    </a>
    <div class="lightbox-target" id="image21">
      <%= image_tag '../concept_art/Goblin-Gunslinger-Ortho-with-guns.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>

  <div class="grid-items">
    <a href="#image22" class="grid-item  grid-item-image22 lightbox">
    </a>
    <div class="lightbox-target" id="image22">
      <%= image_tag '../concept_art/Hyenas-Beast-Master.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image23" class="grid-item  grid-item-image23 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image23">
      <%= image_tag '../concept_art/Infected-Scientist-2016.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image24" class="grid-item  grid-item-image24 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image24">
      <%= image_tag '../concept_art/Jug-Bug.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image25" class="grid-item  grid-item-image25 lightbox">
    </a>
    <div class="lightbox-target" id="image25">
      <%= image_tag '../concept_art/Lava-Spewer-4.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image26" class="grid-item  grid-item-image26 lightbox">
    </a>
    <div class="lightbox-target" id="image26">
      <%= image_tag '../concept_art/Metal-Jaw-2016-Color-2.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image27" class="grid-item  grid-item-image27 lightbox">
    </a>
    <div class="lightbox-target" id="image27">
      <%= image_tag '../concept_art/P_Allosaurus.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image28" class="grid-item  grid-item-image28 lightbox">
    </a>
    <div class="lightbox-target" id="image28">
      <%= image_tag '../concept_art/P_Ankylosaurus.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>

</div>
