---
title: Dave Melvin Art | Gallery
---

<div class="container">
  <div>
    <h1>Gallery</h1>
    <hr />
  </div>
  <!-- Pannel Hover -->
  <section class="pannel-hover">
    <aside class="ph-left">

      <div class="fb-panel">
        <%= image_tag '../illustration/ventaurion.jpg', class: 'img-back-end-portfolio img-responsive' %>
        <div class="div-caption">
          <h4><%= link_to 'Illustration.', '/illustration.html', :relative => true %></h4>
        </div>
      </div>

    </aside>
    <aside class="ph-right">
      <div class="fb-panel">
        <%= image_tag '../concept_art/Parasyte.jpg', class: 'img-back-end-portfolio img-responsive' %>
        <div class="div-caption">
          <h4><%= link_to 'Concept Art.', '/concept_art.html', :relative => true %></h4>
        </div>
      </div>
    </aside>
  </section>
  <hr />
</div>
<div class="container">
  <article class="col-r">
  <h1>Check out my Latest Work!</h1>
  <%= link_to 'What\'s New?', 'blog.html', class: 'button' %>
  </article>

  <div class="social-icons">
    <a href="http://davesrightmind.deviantart.com/" target="blank" class="social-icon social-icon--deviantart">
    </i><i class="fa fa-deviantart" aria-hidden="true"></i>
      <div class="tooltip">Deviant Art</div>
    </a>
    <a href="https://www.artstation.com/artist/davemelvin" target="blank" class="social-icon social-icon--instagram">
      <%= image_tag 'logo-i.png'%>
      <div class="tooltip">artstation</div>
    </a>
    <a  href="https://www.facebook.com/dave.melvin.7" target="_blank" class="social-icon social-icon--facebook">
      <i class="fa fa-facebook"></i>
      <div class="tooltip">Facebook</div>
    </a>
  </div>
  <br >
</div>
