---
title: Dave Melvin Art | Gallery
---
<div class="container">
<h1>Checkout my Latest Work!</h1>
<p><%= lorem.sentences 5 %></p>
<hr />
<hr />
<!-- Pannel Hover -->
<a>
<div class="fb-panel">
  <%= image_tag 'blind_final_2_by_davesrightmind-d7q6lxl.jpg', class: 'img-back-end-portfolio img-responsive' %>
  <div class="div-caption">
  <h4><%= link_to 'Illustration.', '/illustration.html', :relative => true %></h4>
    <p>Creature Design</p>
  </div>
</div>
</a>
<hr />
<hr />
<a>
<div class="fb-panel">
  <%= image_tag 'blind_final_2_by_davesrightmind-d7q6lxl.jpg', class: 'img-back-end-portfolio img-responsive' %>
  <div class="div-caption">
  <h4><%= link_to 'Concept Art.', '/concept_art.html', :relative => true %></h4>
    <p>Creature Design</p>
  </div>
</div>
</a>
<section class="tumblr-section">
    <blockquote>
      <h1>Pro Tip</h1>
      <p><%= lorem.sentences 5 %></p>
    </blockquote>
    <article class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/xu6zPm7j0A8sEf03xcnR9w/107454171287" data-did="cf6a21ae5f018391ec981a6b486df023dd653337">
       <a href="http://unwrapping.tumblr.com/post/107454171287/embeddable-tumblr-posts">
       http://unwrapping.tumblr.com/post/107454171287/embeddable-tumblr-posts
       </a> 
    </article>
    <script async src="https://secure.assets.tumblr.com/post.js"></script>
  </section>
</div>