---
title: Dave Melvin Art | Gallery
---

<div class="container">
  <div>
    <h1>Gallery</h1>
    <hr />
  </div>
<!-- Pannel Hover -->
<section class="pannel-hover">
  <aside class="ph-left">

      <div class="fb-panel">
        <%= image_tag '../illustration/Ventaurion3.jpg', class: 'img-back-end-portfolio img-responsive' %>
        <div class="div-caption">
          <h4><%= link_to 'Illustration.', '/illustration.html', :relative => true %></h4>
        </div>
      </div>

  </aside>
  <aside class="ph-right">
      <div class="fb-panel">
        <%= image_tag '../concept_art/Parasyte.jpg', class: 'img-back-end-portfolio img-responsive' %>
        <div class="div-caption">
          <h4><%= link_to 'Concept Art.', '/concept_art.html', :relative => true %></h4>
        </div>
      </div>
  </aside>
</section>
</div>
<div class="container">
<hr >
  <h1>Checkout my Latest Work!</h1>
  <p><%= lorem.sentences 5 %></p>
</div>
