---
title: Dave Melvin Art | Illustration
---

<div class="container">
  <h1>Illustration</h1>
  <hr />
  <div class="popup-gallery layout-gallery container-wrapper">
    <!-- other anchors 1 here  ... -->
    <a href="../assets/illustration/Alice-meets-the-King-of-the-Tulgey-Wood.jpg" title="Character One">
      <figure>
        <%= image_tag '../assets/illustration/Alice-meets-the-King-of-the-Tulgey-Wood.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 2 here ... -->
    <a href="../assets/illustration/Bioluminescent-Sea-Hunter.jpg" title="Bioluminescent Sea Hunter">
      <figure>
        <%= image_tag '../assets/illustration/Bioluminescent-Sea-Hunter.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 3 here ... -->
    <a href="../assets/illustration/Black-Lagoon.jpg" title="Black Lagoon">
      <figure>
        <%= image_tag '../assets/illustration/Black-Lagoon.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 4 here ... -->
    <a href="../assets/illustration/Blue-Hole-Beast.jpg" title="Blue Hole Beast">
      <figure>
        <%= image_tag '../assets/illustration/Blue-Hole-Beast.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 5 here  ... -->
    <a href="../assets/illustration/Brain-Bug-SST.jpg" title=" Brain Bug">
      <figure>
        <%= image_tag '../assets/illustration/Brain-Bug-SST.jpg', width: 400, height:"auto" %>
      </figure>
    </a>

    <!-- other anchors 6 here  ... -->
    <a href="../assets/illustration/Cancerous-v2.jpg" title="Cancerous v2">
      <figure>
        <%= image_tag '../assets/illustration/Cancerous-v2.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 7 here  ... -->
    <a href="../assets/illustration/Floating-Bony-Shrieker-4.jpg" title="Floating Bony Shrieker">
      <figure>
        <%= image_tag '../assets/illustration/Floating-Bony-Shrieker-4.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 8 here  ... -->
    <a href="../assets/illustration/Frank.jpg" title="Frank">
      <figure>
        <%= image_tag '../assets/illustration/Frank.jpg', width: 400, height:"auto" %>
      </figure>
    </a>
    <!-- other anchors 9 here  ... -->
      <a href="../assets/illustration/Kelpy.jpg" title="Kelpy">
        <figure>
          <%= image_tag '../assets/illustration/Kelpy.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 10 here  ... -->
      <a href="../assets/illustration/Organic-Mech.jpg" title="Organic Mech">
        <figure>
          <%= image_tag '../assets/illustration/Organic-Mech.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 11 here  ... -->
      <a href="../assets/illustration/parasite.jpg" title="Parasite">
        <figure>
          <%= image_tag '../assets/illustration/parasite.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 12 here  ... -->
      <a href="../assets/illustration/Radioactive-Dino.jpg" title="Radioactive Dino">
        <figure>
          <%= image_tag '../assets/illustration/Radioactive-Dino.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 13 here  ... -->
      <a href="../assets/illustration/Regurgitator.jpg" title="Regurgitator">
        <figure>
          <%= image_tag '../assets/illustration/Regurgitator.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 14 here  ... -->
      <a href="../assets/illustration/Sonic-Winged-Murmuration.jpg" title="Sonic Winged Murmuration">
        <figure>
          <%= image_tag '../assets/illustration/Sonic-Winged-Murmuration.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 15 here  ... -->
      <a href="../assets/illustration/Tanker.jpg" title="Tanker">
        <figure>
          <%= image_tag '../assets/illustration/Tanker.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
      <!-- other anchors 16 here  ... -->
      <a href="../assets/illustration/ventaurion.jpg" title="Ventaurion">
        <figure>
          <%= image_tag '../assets/illustration/ventaurion.jpg', width: 400, height:"auto" %>
        </figure>
      </a>
    </div>
  </div>

