---
title: Dave Melvin Art | Illustration
---
<div class="container">
  <h1>Illustration</h1>
  <hr />
  <div class="grid-items">

    <a href="#image1" class="grid-item  grid-item-image1 lightbox">
    </a>
    <div class="lightbox-target" id="image1">
      <%= image_tag '../illustration/Alice-meets-the-King-of-the-Tulgey-Wood.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image2" class="grid-item  grid-item-image2 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image2">
      <%= image_tag '../illustration/Bioluminescent-Sea-Hunter.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image3" class="grid-item  grid-item-image3 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image3">
      <%= image_tag '../illustration/Black-Lagoon.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image4" class="grid-item  grid-item-image4 lightbox">
    </a>
    <div class="lightbox-target" id="image4">
      <%= image_tag '../illustration/Blue-Hole-Beast.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image5" class="grid-item  grid-item-image5 lightbox">
    </a>
    <div class="lightbox-target" id="image5">
      <%= image_tag '../illustration/Cancerous-v2.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image6" class="grid-item  grid-item-image6 lightbox">
    </a>
    <div class="lightbox-target" id="image6">
      <%= image_tag '../illustration/Floating-Bony-Shrieker-4.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image7" class="grid-item  grid-item-image7 lightbox">
    </a>
    <div class="lightbox-target" id="image7">
      <%= image_tag '../illustration/Frank.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>

  <div class="grid-items">
    <a href="#image8" class="grid-item  grid-item-image8 lightbox">
    </a>
    <div class="lightbox-target" id="image8">
      <%= image_tag '../illustration/Kelpy-2.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image9" class="grid-item  grid-item-image9 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image9">
      <%= image_tag '../illustration/Organic-Mech-.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image10" class="grid-item  grid-item-image10 grid-item-big lightbox">
    </a>
    <div class="lightbox-target" id="image10">
      <%= image_tag '../illustration/parasite.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>

    <a href="#image11" class="grid-item  grid-item-image11 lightbox">
    </a>
    <div class="lightbox-target" id="image11">
      <%= image_tag '../illustration/Radioactive-Dino.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image12" class="grid-item  grid-item-image12 lightbox">
    </a>
    <div class="lightbox-target" id="image12">
      <%= image_tag '../illustration/Regurgitator.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image13" class="grid-item  grid-item-image13 lightbox">
    </a>
    <div class="lightbox-target" id="image13">
      <%= image_tag '../illustration/Sonic-Winged-Murmuration.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
    <a href="#image14" class="grid-item  grid-item-image14 lightbox">
    </a>
    <div class="lightbox-target" id="image14">
      <%= image_tag '../illustration/Tanker.jpg' %>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>
  <br />
</div>
