---
title: Davesrightmind
---
<div class="hero-slideshow">
	<figure class="show">
		<%= image_tag 'ord_teen_by_davesrightmind.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'glaarg_by_davesrightmind-d982qac.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'alice_meets_the_king_of_the_tulgey_wood_by_davesrightmind-d8y82h3.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'bahamut_by_davesrightmind-d9iu5t2.jpg' %>
	</figure>
	<span class="prev">&laquo;</span>
	<span class="next">&raquo;</span>
</div> 

<div class=" container module">
	<section>
		<h1>lorem</h1>
		<aside>
			<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
			<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
</div>

<hr />
<!-- Pannel Hover -->
<div class="fb-panel">
	<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg', class: 'img-back-end-portfolio img-responsive' %>
	<div class="div-caption">
	<h4>GALLERY.</h4>
		<p>Creature Design</p>
	</div>
</div>

<hr>

<hr />
  <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/RJlN_YrG4jRvI2naRTU7MA/127343521025" data-did="9d6bf6fad90d5da643e401da3068a519bb690287"><a href="http://kikluz.tumblr.com/post/127343521025/playing-with-brushes-on-photoshop-and-painter">http://kikluz.tumblr.com/post/127343521025/playing-with-brushes-on-photoshop-and-painter</a></div>  <script async src="https://secure.assets.tumblr.com/post.js"></script>
