---
title: Davesrightmind
---
<!-- Slideshow on index page -->
<div class="hero-slideshow">
	<figure class="show">
		<%= image_tag 'radioactive_dino_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'sbs_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'megabeasts_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'sonic_winged_murmuration_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'glb_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'bahamut_rz.jpg' %>
	</figure>
	<span class="prev">&laquo;</span>
	<span class="next">&raquo;</span>
</div> 

<div class="container module">
	<section class="intro">
		<h1>WELCOME</h1>
		<aside>
			<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
			<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
</div>
<hr />
<!--
<div class="gallery container">
	<% 10.times do %>
	<div><%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %></div>
	<% end %>
</div>
-->
<hr />
<!-- Pannel Hover -->
<a>
<div class="fb-panel">
	<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg', class: 'img-back-end-portfolio img-responsive' %>
	<div class="div-caption">
	<h4><%= link_to 'Gallery.', '/gallery.html', :relative => true %></h4>
		<p>Creature Design</p>
	</div>
</div>
</a>
