---
title: Davesrightmind
---
<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'ord_teen_by_davesrightmind.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'glaarg_by_davesrightmind-d982qac.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'alice_meets_the_king_of_the_tulgey_wood_by_davesrightmind-d8y82h3.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'bahamut_by_davesrightmind-d9iu5t2.jpg' %>
  </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div> 

<div class=" module">
	<section>
		<h1>lorem</h1>
		<aside>
		<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
		<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
</div>
<hr />
<div class="gallery container">
<% 10.times do %>
	<div><%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %></div>
	<% end %>
</div>