---
title: Dave Melvin Art | Home
---
<!-- Slideshow on index page -->
<div class="hero-slideshow">
	<figure class="show">
		<%= image_tag 'radioactive_dino_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'sbs_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'megabeasts_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'sonic_winged_murmuration_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'glb_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'bahamut_rz.jpg' %>
	</figure>
	<span class="prev">&laquo;</span>
	<span class="next">&raquo;</span>
</div> 

<div class="container">
	<section class="intro">
		<h1>WELCOME</h1>
		<aside>
			<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
			<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
	<hr />
</div>

<!-- Pannel Hover -->
<a>
<div class="fb-panel">
	<%= image_tag 'blind_final_2_by_davesrightmind-d7q6lxl.jpg', class: 'img-back-end-portfolio img-responsive' %>
	<div class="div-caption">
	<h4><%= link_to 'Gallery.', '/gallery.html', :relative => true %></h4>
		<p>Creature Design</p>
	</div>
</div>
</a>
