---
title: Dave Melvin Art | Home
---
<!-- Slideshow on index page -->
<div class="hero-slideshow">
	<figure class="show">
	<%= image_tag 'goes___bloop____by_davesrightmind-rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'harpies_by_davesrightmind-rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'release_by_davesrightmind-rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'naughty_dogs_painted_by_davesrightmind_rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'jungle_fun_2_by_davesrightmind-rz.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'wtf_rising_by_davesrightmind-rz.jpg' %>
	</figure>
	<span class="prev">&laquo;</span>
	<span class="next">&raquo;</span>
</div> 

<div class="container">
	<section class="intro">
		<h1>WELCOME</h1>
		<aside>
			<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
			<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
	<hr />
</div>

<!-- Pannel Hover -->
<a>
	<div class="fb-panel">
		<%= image_tag 'blind_final_2_by_davesrightmind-d7q6lxl.jpg', class: 'img-back-end-portfolio img-responsive' %>
		<div class="div-caption">
			<h4><%= link_to 'Gallery.', '/gallery.html', :relative => true %></h4>
			<p>Creature Design</p>
		</div>
	</div>
</a>
