---
title: Dave Melvin Art | Home
---
<!-- Slideshow on index page -->
<div class="hero-slideshow">
  <figure class="show">
  <%= image_tag 'omega_weapon_2_rz.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'harpies_by_davesrightmind-rz.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'release_by_davesrightmind-rz.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'naughty_dogs_painted_by_davesrightmind_rz.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'jungle_fun_2_by_davesrightmind-rz.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'wtf_rising_by_davesrightmind-rz.jpg' %>
  </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>

<div class="container">
  <section class="intro">
    <h1>Hello!</h1>
      <p>
        Whether you’ve looked through the gallery yet, or decided to stop by here first, I hope that you’ll find the images and ideas contained within inspire you and demonstrate a new way of seeing and believing in both the fantastic and potentially real. My goal is not only suggest what could be, but to assist you in expanding your own imagination.
      </p>
  </section>
  <hr />
</div>

<!-- Pannel Hover -->
<a>
  <div class="fb-panel">
    <%= image_tag 'spitpaint_comp_by_davesrightmind-d6tvmyv.jpg', class: 'img-back-end-portfolio img-responsive' %>
    <div class="div-caption">
      <h4><%= link_to 'Gallery.', '/gallery.html', :relative => true %></h4>
      <p>Creature Design</p>
    </div>
  </div>
</a>
