---
title: Davesrightmind
---
<div class="hero-slideshow">
	<figure class="show">
		<%= image_tag 'ord_teen_by_davesrightmind.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'glaarg_by_davesrightmind-d982qac.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'alice_meets_the_king_of_the_tulgey_wood_by_davesrightmind-d8y82h3.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg' %>
	</figure>

	<figure>
		<%= image_tag 'bahamut_by_davesrightmind-d9iu5t2.jpg' %>
	</figure>
	<span class="prev">&laquo;</span>
	<span class="next">&raquo;</span>
</div> 

<div class=" container module">
	<section>
		<h1>lorem</h1>
		<aside>
			<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
			<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
</div>
<hr />
<div class="gallery container">
	<% 10.times do %>
	<div><%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %></div>
	<% end %>
</div>
<hr />
<!-- Pannel Hover -->
<div class="fb-panel">
	<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg', class: 'img-back-end-portfolio img-responsive' %>
	<div class="div-caption">
	<h4>Ventaurion.</h4>
		<p>Davesrightmind</p>
	</div>
</div>

<hr>
<!--
<div id="wrap">
    <div class="big_col">
        <div class="small_img">
            <img src="http://www.lorempixum.com/327/491/abstract" alt="" />
            <img src="http://www.lorempixum.com/g/327/491" alt="" />
            <img src="http://www.lorempixum.com/g/327/491/sports" alt="" />
            <img src="http://www.lorempixum.com/327/491/nature" alt="" />
        </div>
        <div class="medium_img">
            <img src="http://www.lorempixum.com/g/327/491/business" alt="" />
            <img src="http://www.lorempixum.com/327/491/people" alt="" />
        </div>
        <div class="small_img">
            <img src="http://www.lorempixum.com/g/327/491/food" alt="" />
            <img src="http://www.lorempixum.com/327/491" alt="" />
            <img src="http://www.lorempixum.com/327/491/cats" alt="" />
            <img src="http://www.lorempixum.com/327/491/people" alt="" />
        </div>
    </div>
    <div class="big_col">
        <img src="http://www.lorempixum.com/327/491/nature" alt="" />
    </div>
    <div class="small_col small_img">
        <img src="http://www.lorempixum.com/g/327/491/transport" alt="" />
        <img src="http://www.lorempixum.com/g/327/491/sports" alt="" />
        <img src="http://www.lorempixum.com/327/491/nature" alt="" />
        <img src="http://www.lorempixum.com/g/327/491/sports" alt="" />
    </div>
    <div class="medium_col medium_img">
            <img src="http://www.lorempixum.com/327/491/nightlife" alt="" />
            <img src="http://www.lorempixum.com/g/327/491/transport" alt="" />
    </div>
    <div class="small_col small_img">
            <img src="http://www.lorempixum.com/327/491/fashion" alt="" />
            <img src="http://www.lorempixum.com/327/491/nature" alt="" />
            <img src="http://www.lorempixum.com/g/327/491/sports" alt="" />
            <img src="http://www.lorempixum.com/327/491" alt="" />
    </div>
    <div class="big_col">
        <img src="http://www.lorempixum.com/327/491/fashion" alt="" />
    </div>
</div>
-->
<hr />
