---
title: Davesrightmind
---
<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'ord_teen_by_davesrightmind.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'glaarg_by_davesrightmind-d982qac.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'alice_meets_the_king_of_the_tulgey_wood_by_davesrightmind-d8y82h3.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'bahamut_by_davesrightmind-d9iu5t2.jpg' %>
  </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div> 

<div class=" container module">
	<section>
		<h1>lorem</h1>
		<aside>
		<p><%= lorem.sentences 5 %></p>
		</aside>
		<article>
		<p><%= lorem.sentences 5 %></p>
		</article>
	</section>
</div>
<hr />
<div class="gallery container">
<% 10.times do %>
	<div><%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %></div>
	<% end %>
</div>



<div class="one-tile">
<%= image_tag 'ventaurion3_by_davesrightmind-d9pfauw.jpg', class: 'img-back-end-portfolio img-responsive' %>
  <div class="div-caption">
    <h4>Warner Bros.</h4>
    <p>Mortal Kombat</p>
  </div>
</div>
<hr>
<section>
  <%= image_tag 'ord_teen_by_davesrightmind.jpg' %>
  <%= image_tag 'kelp_cutter_by_davesrightmind.jpg' %>
  <img src="https://unsplash.it/700/450?image=589" />
  <img src="https://unsplash.it/700/500?image=624" />
  <img src="https://unsplash.it/700/300?image=455" />
  <img src="https://unsplash.it/1500/700?image=629" />
  <img src="https://unsplash.it/700?image=594" />
  <img src="https://unsplash.it/700/450?image=417" />
  <img src="https://unsplash.it/700/400?image=410" />
  <img src="https://unsplash.it/700/550?image=628" />
  <img src="https://unsplash.it/700/450?image=421" />
  <img src="https://unsplash.it/700/567?image=572" />
  <img src="https://unsplash.it/700/978?image=623" />
  <img src="https://unsplash.it/700/654?image=621" />
  <img src="https://unsplash.it/700/500?image=423" />
  <%= image_tag 'bahamut_by_davesrightmind-d9iu5t2.jpg' %>
  <%= image_tag 'bahamut_by_davesrightmind-d9iu5t2.jpg' %>
</section>
<div class="lightbox">
  <div class="filter"></div>
  <div class="arrowr"></div>
  <div class="arrowl"></div>
  <div class="close"></div>
</div>